<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Gestión de Tareas</title>    
</head>
<body>
    <!-- Encabezado (barra de navegación) -->
    <header>
        <nav>            
            <ul>
                <li><a routerLink="inicio">Inicio</a></li>
                <li><a routerLink="agregar_tarea">Tareas</a></li>
                <li><a routerLink="detalle_tarea">Detalles</a></li>                                
            </ul>
        </nav>
    </header>
    <router-outlet />
    <!-- Pie de página -->
    <footer>
        <p>&copy; 2024 Gestión de Tareas. Todos los derechos reservados.</p>
    </footer>
    
</body>
</html>