<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal</title>
</head>
<body>
    <main>        
        <section id="inicio">
            <h1>Bienvenido a la Plataforma de Gestión de Tareas</h1>
            <p>Gestiona tus taras, mantente organizado y mejora tu productividad con nuestra plataforma intuitiva y fácil
                de usar.</p>
        </section>

        <section class="features">
            <h2>¿Qué puedes hacer en esta plataforma?</h2>
            <div class="feature">
                
                    <h3>Ver todas las tareas</h3>
                    <p>Revisa la lista completa de cursos disponibles con toda la información que necesitas.</p>
                
            </div>
            <div class="feature">
                
                    <h3>Añadir nuevas tareas</h3>
                    <p>Registra y organiza tus propios cursos con un formulario intuitivo.</p>
                
            </div>
        </section>


                        
    </main>
</body>
</html>